<link rel="stylesheet" href="/assets/bootstrap.css">
<style>
	#pay-slip{
		font-size: 10px;
	}
	.item-header{
		background-color: #C8C8C8;
		font-weight: bold;
	}
	#net-pay{
		background-color: #336600;
		color:#fff;
	}
	.equalizer{
		border-top: 1px solid #fff;
		border-right: 1px solid #fff;
		border-left: 1px solid #fff;
		border-bottom: 1px solid #000;
	}
	.field-label{
		font-weight: bold;
	}
</style>
<div class="container-fluid">
	<table border="1" width="100%" id="pay-slip">
		<tr class="equalizer">
			<td width="8%">&nbsp;</td>
			<td width="8%">&nbsp;</td>
			<td width="8%">&nbsp;</td>
			<td width="8%">&nbsp;</td>
			<td width="8%">&nbsp;</td>
			<td width="8%">&nbsp;</td>
			<td width="8%">&nbsp;</td>
			<td width="8%">&nbsp;</td>
			<td width="8%">&nbsp;</td>
			<td width="8%">&nbsp;</td>
			<td width="8%">&nbsp;</td>
			<td width="8%">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="12"><img src="/assets/client_logos/rjh5.png" /></td>
		</tr>
		<tr>
			<td colspan="2" class="field-label">ID Number:</td>
			<td colspan="4">1181</td>
			<td colspan="2" class="field-label">HIRED DATE:</td>
			<td colspan="4">09/15/2013</td>
		</tr>
		<tr>
			<td colspan="2" class="field-label">EMPLOYEE NAME:</td>
			<td colspan="4">IBUS, ADAMSON T</td>
			<td colspan="2" class="field-label">TIN NO.:</td>
			<td colspan="4">5245-56832-15</td>
		</tr>
		<tr>
			<td colspan="2" class="field-label">Company</td>
			<td colspan="4">UNISTAR CREDIT AND FINANCE COMPANY</td>
			<td colspan="2" class="field-label">SSS NO.:</td>
			<td colspan="4">123456789</td>
		</tr>
		<tr>
			<td colspan="2" class="field-label">ACCOUNT NO.:</td>
			<td colspan="4">45678921312</td>
			<td colspan="2" class="field-label">TAX CODE</td>
			<td colspan="5">S</td>
		</tr>
		<tr>
			<td colspan="2" class="field-label">Payroll Period: </td>
			<td colspan="10">January 04, 2014 to January 17, 2014</td>
		</tr>
		<tr>
			<td colspan="6" class="item-header">EARNINGS</td>
			<td colspan="6" class="item-header">STATUTORY DEDUCTIONS</td>
		</tr>
		<tr>
			<td colspan="2">ITEM</td>
			<td colspan="2">HOURS</td>
			<td colspan="2">AMOUNT</td>
			<td colspan="4">ITEM</td>
			<td colspan="2">AMOUNT</td>
		</tr>
		<tr>
			<td colspan="2">&nbsp;</td>
			<td colspan="2">&nbsp;</td>
			<td colspan="2">&nbsp;</td>
			<td colspan="4">&nbsp;</td>
			<td colspan="2">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="2">&nbsp;</td>
			<td colspan="2">&nbsp;</td>
			<td colspan="2">&nbsp;</td>
			<td colspan="4">&nbsp;</td>
			<td colspan="2">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="6" class="item-header">OTHER TAXABLE ADDITION</td>
			<td colspan="6" class="item-header">NET TAXABLE INCOME</td>
		</tr>
		<tr>
			<td colspan="2">ITEM</td>
			<td colspan="2">HOURS</td>
			<td colspan="2">AMOUNT</td>
			<td colspan="4">ITEM</td>
			<td colspan="2">AMOUNT</td>
		</tr>
		<tr>
			<td colspan="2">ITEM</td>
			<td colspan="2">HOURS</td>
			<td colspan="2">AMOUNT</td>
			<td colspan="4">ITEM</td>
			<td colspan="2">AMOUNT</td>
		</tr>
		<tr>
			<td colspan="2">ITEM</td>
			<td colspan="2">HOURS</td>
			<td colspan="2">AMOUNT</td>
			<td colspan="4">ITEM</td>
			<td colspan="2">AMOUNT</td>
		</tr>
		<tr>
			<td colspan="2">ITEM</td>
			<td colspan="2">HOURS</td>
			<td colspan="2">AMOUNT</td>
			<td colspan="4">ITEM</td>
			<td colspan="2">AMOUNT</td>
		</tr>
		<tr>
			<td colspan="6" class="item-header">OTHER TAXABLE DEDUCTION</td>
			<td colspan="6" class="item-header">OTHER DEDUCTION</td>
		</tr>
		<tr>
			<td colspan="2">ITEM</td>
			<td colspan="2">HOURS</td>
			<td colspan="2">AMOUNT</td>
			<td colspan="4">ITEM</td>
			<td colspan="2">AMOUNT</td>
		</tr>
		<tr>
			<td colspan="2">ITEM</td>
			<td colspan="2">HOURS</td>
			<td colspan="2">AMOUNT</td>
			<td colspan="4">ITEM</td>
			<td colspan="2">AMOUNT</td>
		</tr>
		<tr>
			<td colspan="2">ITEM</td>
			<td colspan="2">HOURS</td>
			<td colspan="2">AMOUNT</td>
			<td colspan="4">ITEM</td>
			<td colspan="2">AMOUNT</td>
		</tr>
		<tr>
			<td colspan="2">ITEM</td>
			<td colspan="2">HOURS</td>
			<td colspan="2">AMOUNT</td>
			<td colspan="4">ITEM</td>
			<td colspan="2">AMOUNT</td>
		</tr>
		<tr>
			<td colspan="6" class="item-header">NON TAXABLE INCOME</td>
			<td colspan="6" class="item-header">SUMMARY</td>
		</tr>
		<tr>
			<td colspan="2">ITEM</td>
			<td colspan="2">HOURS</td>
			<td colspan="2">AMOUNT</td>
			<td colspan="4">ITEM</td>
			<td colspan="2">AMOUNT</td>
		</tr>
		<tr>
			<td colspan="2">ITEM</td>
			<td colspan="2">HOURS</td>
			<td colspan="2">AMOUNT</td>
			<td colspan="4">ITEM</td>
			<td colspan="2">AMOUNT</td>
		</tr>
		<tr>
			<td colspan="2">ITEM</td>
			<td colspan="2">HOURS</td>
			<td colspan="2">AMOUNT</td>
			<td colspan="4">ITEM</td>
			<td colspan="2">AMOUNT</td>
		</tr>
		<tr>
			<td colspan="2">ITEM</td>
			<td colspan="2">HOURS</td>
			<td colspan="2">AMOUNT</td>
			<td colspan="4">ITEM</td>
			<td colspan="2">AMOUNT</td>
		</tr>
		<tr>
			<td colspan="6">TOTAL NON TAXABLE INCOME</td>
			<td colspan="6" id="net-pay">NETPAY</td>
		</tr>
	</table>
	This is system-generated document which serves as an official copy and requires no signature.
</div>